body{
    background-color: black;
    color: white;
    background-image: url(images/chillest.jpg);
    background-size: 100%;
}
a h1{
    font-size: 40px;
    color:black;
    text-decoration: underline;
    display: inline-block;
    margin: 0 0 0 180px;
    color: white;
}
header{
    margin: 0;
}

a{
    text-decoration: none;
}
nav{
    float: right;
}

#page-links li{
    float: right;
    list-style-type: none;
    margin: 10px 8px 0 8px;
}
#page-links{
    margin-top: 0;
    margin-right: 200px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
#page-links a{
    color: white
}
#page-links a:hover{
    border-bottom: 1px solid white;
}

#space-shuttle-img{
    height: 300px;
    width: 500px;
    background:url(images/space-shuttle.jpg) no-repeat center center;
    background-size:contain;
    float: right;
    margin: 30px 118px 0 0;
    border-radius: 25%;
}
#information{
    float: left;
    margin: 75px 0 0 180px;
}
#information h1{
    font-size: 30px;
    font-style: italic;
}
